/*Contenido Formularios de Contacto y Cuenta*/

.main-galeria {
    background-color: black;
}

.main-cuenta {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
}

.form-cuenta {
    padding: 50px;
    display: flex;
    flex-direction: column;
    width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0);
    border-radius: 15px;
    background-color: #ff4c00;
}

.h2-cuenta {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 25px;
}

.label-cuenta,
.p-cuenta {
    font-size: 17px;
    color: white;
    margin-bottom: 10px;
}

.input-cuenta {
    padding: 17px 11px;
    border: 1px solid black;
    border-radius: 25px;
    margin-bottom: 25px;
    background-color: white;
    outline: none;
    color: black;
    font-size: 17px;
}

.btn-1 {
    background-color: #ff4c00;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        background-color: black;
        color: white;
    }
}

.recordar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.main-contacto {
    background-color: black;
}

.container-form {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    color: white;
}

.container-form-h2 {
    margin-bottom: 15px;
    font-size: 35px;
    color: white;
}

.container-form-p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
    color: white;
}

.container-form form .campo,
textarea {
    width: 100%;
    padding: 15px 10px;
    border: 1px solid #ff4c00;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}

.container-form {
    textarea {
        max-width: 530px;
        min-width: 530px;
        min-height: 140px;
        max-height: 150px;
    }

    .btn-enviar {
        padding: 15px;
        font-size: 16px;
        border: none;
        outline: 0px;
        background-color: #ff4c00;
        color: white;
        border-radius: 3px;
        cursor: pointer;
        transition: all 300ms ease;

        &:hover {
            background-color: white;
        }
    }
}

.main-contacto {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.form-contacto {
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 340px;
    background-color: #ff4c00;
}

.h2-contacto {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 25px;
}

.form-txt {
    display: flex;
    justify-content: space-between;

    a {
        color: white;
        text-decoration: none;
        font-size: 15px;
        margin-bottom: 25px;

        &:hover {
            color: black;
        }
    }
}

.input-contacto {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    background-color: white;
    padding: 20px 14px;
    margin-bottom: 25px;
    border: 0;
    border-radius: 10px;
    font-size: 15px;
    color: black;
}

::placeholder {
    color: black;
    font-size: 15px;
}

.btn-2 {
    background-color: white;
    color: black;
    font-size: 17px;
    cursor: pointer;

    &:hover {
        background-color: black;
        color: white;
    }
}