/*Contenido*/

p {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: white;
    margin-bottom: 35px;
}

.about {
    padding: 100px 0;
    background-color: black;
}

.about-content {
    display: flex;
    align-items: center;
}

.about-txt {
    flex-basis: 50%;
    padding-right: 35px;
}

span {
    font-size: 14px;
    text-transform: uppercase;
    color: #ff4c00;
}

h2 {
    font-size: 35px;
    color: white;
    margin: 15px 0;
    line-height: 1;
}

hr {
    border: 1px solid #ff4c00;
    width: 50%;
    margin-bottom: 30px;
}

.hr-2 {
    border: 1px solid #ff4c00;
    width: 75%;
    margin-bottom: 30px;
}

.hr-3 {
    border: 1px solid #ff4c00;
    width: 57%;
    margin-bottom: 30px;
}

.hr-4 {
    border: 1px solid #ff4c00;
    width: 68%;
    margin-bottom: 30px;
}

.hr-5 {
    border: 1px solid #ff4c00;
    width: 41%;
    margin-bottom: 30px;
}

.hr-6 {
    border: 1px solid #ff4c00;
    width: 74%;
    margin-bottom: 30px;
}

.hr-7 {
    border: 1px solid #ff4c00;
    width: 33%;
    margin-bottom: 30px;
}

.about-img {
    flex-basis: 50%;
    img {
        border-radius: 15px;
    }
}