/*Responsive en Tablets*/
@media(max-width:1024px) {

    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #ff4c00;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    .menu .navbar ul li a:hover {
        color: black;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
        padding: 100px 30px;
    }

    .header-txt {
        text-align: center;
        padding: 0;
    }

    .about {
        padding: 30px;
    }

    .about-content {
        flex-direction: column;
    }

    .form-cuenta {
        width: 50%;
    }

    .main-contacto {
        padding: 30px;
    }

    .form-contacto {
        width: 50%;
    }
}

/*Responsive en Celulares*/
@media(max-width:915px) {

    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #ff4c00;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    .menu .navbar ul li a:hover {
        color: black;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
        padding: 100px 30px;
    }

    .header-txt {
        text-align: center;
        padding: 0;
    }

    .about {
        padding: 30px;
    }

    .about-content {
        flex-direction: column;
    }

    .form-cuenta {
        width: 70%;
        text-align: center;
    }


    .footer {
        text-align: center;
    }

    .main-contacto {
        padding: 30px;
    }

    .form-contacto {
        width: 70%;
    }

    .form-txt a {
        font-size: 10px;
        margin-bottom: 25px;
    }

    .h2-contacto {
        text-align: center;
        font-size: 25px;
    }
}